@use "sass:math";
@use "../styles/conf";
@use "../styles/mix/color-scheme";

:root {
	font-size: 16px;
	color-scheme: light dark;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	color: #000;
	line-height: 1.5;
	margin: 0;
	background-color: aliceblue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: antialiased;
	-ms-font-smoothing: antialiased; /* Internet Explorer */

	/* Old Firefox versions */
	@-moz-document url-prefix() {
		text-rendering: optimizeLegibility;
	}

	@include color-scheme.dark-and-not-print($global: false) {
		color: #f3f4f5;
		background-color: #0d1b2a;
	}

	overflow-x: clip;
}

*,
::before,
::after {
	box-sizing: border-box;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	font-size: 0.875rem;
	padding: 0.125em 0.5em;

	&:not(:disabled) {
		cursor: pointer;
	}
}

select {
	font-size: inherit;
	font-size: 0.875rem;
	padding-block: 0.125em;
}

abbr {
	cursor: help;
	text-underline-offset: 0.1em;
	text-decoration-style: dashed;
	// text-decoration-color: rgba(0, 0, 0, 0.5);

	@media print {
		text-decoration: none;
	}
}

dfn {
	font-style: normal;
}

ul,
ol,
dl {
	padding-inline: 1rem 0;
}

:any-link {
	line-height: 1.2;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: 1.2;
}

h1,
.h1 {
	font-size: 1.5rem;
}

h2,
.h2 {
	font-size: 1.5rem;
}

h3,
.h3 {
	font-size: 1.17rem;
}

h4,
.h4 {
	font-size: 1rem;
}

h5,
.h5 {
	font-size: 0.83rem;
}

h6,
.h6 {
	font-size: 0.67em;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	display: inline-block;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.print-invisible {
	@media print {
		display: none;
	}
}

.print-inline-visible {
	display: none;

	@media print {
		display: inline;
	}
}

// Accordion styles - START
.collapse {
	&:not(.show) {
		display: none;
	}
	@media (prefers-reduced-motion: reduce) {
		transition-property: height;
		transition-duration: 0;
	}
}
.collapsing {
	height: 0;
	overflow: hidden;
}
// Accordion styles - END

.app {
	min-height: 100svh;
	// padding: 1rem;

	&__body {
		padding: 1rem;
	}
}

.container {
	padding-inline: 1rem;
	width: 100%;
	margin: 0 auto;
	max-width: 210mm;
}

.nextjs-toast-errors-parent {
	@media print {
		display: none;
	}
}

ol,
ul {
	margin: 0;
	&.cv {
		li,
		dd {
			&:not(:first-of-type) {
				margin-top: 0.5em;
			}
			&:not(:last-of-type) {
				margin-bottom: 0.5em;
			}
		}
	}

	&.cv\/2 {
		li,
		dd {
			&:not(:first-of-type) {
				margin-top: 0.25em;
			}
			&:not(:last-of-type) {
				margin-bottom: 0.25em;
			}
		}
	}
}
