@use "../../styles/conf";
@use "../../styles/conf/fibonacci";

.aside {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	// @media print {
	// 	box-shadow: none;
	// }

	@media (min-width: conf.$s) {
		background-color: #d3d3d3;
		box-shadow: 0 0 0 1rem #d3d3d3, inset 0 0 0 100vw #d3d3d3;
		width: calc(fibonacci.$asymp-xxl-percentage - 1rem);
	}
}
