@use "sass:math";
@use "sass:color";
@use "../../styles/conf";
@use "../../styles/conf/fibonacci";

.aside {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	@media (min-width: conf.$s) {
		width: calc(fibonacci.$asymp-xxl-percentage - 1rem);
	}

	&__figure {
		margin: 0;
		display: flex;
		flex-direction: column;
		row-gap: 0.75rem;
	}

	&__image {
		border-radius: 0.5rem;
		height: auto;
		max-width: 100%;

		@at-root :root:not([dir="rtl"]) & {
			transform: scale(-1, 1); // Flip X
		}
	}

	&__figcaption {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 1.5rem;

		&-icon {
			margin-inline-end: 0.25em;
		}
	}

	&__occupation {
		font-weight: 500;
		margin: 0;
		display: flex;

		@media (max-width: #{conf.$s - 1}) {
			flex-wrap: wrap;
			align-items: center;
			column-gap: 0.25em;
		}

		@media (min-width: conf.$s) {
			flex-direction: column;
		}

		&-level {
			font-weight: 400;
		}
	}
}

.stack {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	margin: 0;

	&__title {
		display: flex;
		align-items: center;
		margin: 0;
	}

	&__icon {
		margin-inline-end: 0.25em;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		gap: 0.5rem 0.5rem;
	}

	&__item {
		$-item: &;
		font-size: math.div(14, 16) + 0em;
		padding: 0.25em 0.5em;
		border-radius: 0.25em;
		background: silver;
		font-weight: 800;
		color: #fff;

		&--html {
			background-color: color.mix(#e44d27, #f1672b);
		}

		&--css {
			background-color: color.mix(#1073ba, #24abdd);
		}

		&--javascript_es5-11_ {
			background-color: #f0be24;
			// background-color: color.mix(#e4a125, #f0be24);
			// background-color: #f5dc3d;
			// color: #2c2e2c;
		}

		&--typescript {
			background-color: #2e79c8;
		}

		&--react {
			background-color: #61dafb;
		}

		&--redux {
			background-color: #764abc;
		}

		&--next_js {
			background-color: #171717;
		}

		&--emails {
			background-color: #eb4132;
		}

		&--sass {
			background-color: #d0659a;
		}

		&--bootstrap {
			background-color: #7531fb;
		}

		&--bem {
			background-color: color.mix(#052433, #2ec6f1);
		}

		&--pug {
			background-color: #a86454;
		}

		&--jest {
			background-color: color.mix(#3b3738, #c53d16);
		}

		&--enzyme {
			background-color: #ff5a60;
		}

		&--vue {
			// background-color: color.mix(#31475e, #3fba84);
			background-color: #3fba84;
		}

		&--jquery {
			background-color: color.mix(#1d2e3b, #23ace2);
			// background-color: #1d2e3b;
		}

		&--rest {
			background-color: #002c52;
		}

		&--websocket {
			background-color: color.mix(#e44b24, #f16427);
		}

		&--parcel {
			background-color: #e6b37c;
		}

		&--gulp {
			background-color: #dc4546;
		}

		&--grunt {
			background-color: #fba91a;
		}

		&--webpack {
			background-color: color.mix(#1c78c1, #8ed6fa);
		}

		&--zurb-emails {
			background-color: #cd7791;
		}

		&--liquid {
			background: color.mix(#0f83cd, #fff);
		}
	}

	&__toggle {
		font-size: fibonacci.$asymp-xxxl + 0rem;
		align-self: center;
	}
}
