@use "sass:math";
@use '../../styles/conf';
@use '../../styles/conf/fibonacci';

.main {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;

	@media (min-width: conf.$s) {
		width: calc(fibonacci.$asymp-xxxl-percentage - 1rem);
		padding: 1rem 0;
	}
}

.section {
	&__title {
		display: flex;
		align-items: center;
		margin: 0;

		&-icon {
			margin-inline-end: 0.25em;
		}
	}

	&__hr {
		margin-block: 0.125rem 1rem;
		border-width: 0 0 2px;
		border-style: solid;
		border-color: #000;
	}
}
