@use "../styles/mix/color-scheme" as color-scheme;

.container {
	background-color: #fff;
	padding: 1rem;
	border-radius: 1rem;
	overflow: hidden;

	@include color-scheme.dark-and-not-print {
		background-color: #faf3e0;
		color: #000;
	}

	:any-link {
		color: #0000ee;

		&:visited {
			color: #551a8b;
		}
	}
}
