@use "sass:math";
@use "../../styles/conf";
@use "../../styles/conf/fibonacci";

.accordion {
	$-accordion: &;
	position: relative;
	display: flex;
	flex-direction: column;
	// row-gap: 1rem;
	// padding-block: 0.5rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: black;
		width: 0.125rem;
		border-radius: 9999rem;
	}

	@at-root :root:not([dir="rtl"]) & {
		padding-left: 1rem;

		&::before {
			right: 100%;
			display: block;
		}
	}

	@at-root :root[dir="rtl"] & {
		padding-right: 1rem;

		&::before {
			left: 100%;
		}
	}

	&__item {
		// $-item: &;
		display: flex;
		flex-direction: column;
		// padding-block: 1rem;
		// row-gap: 1rem;

		// color: var(--accordion-color);
		// border: var(--accordion-border-width) solid var(--accordion-border-color);

		&:not(:first-of-type) {
			padding-block-start: 1rem;
		}

		&:not(:last-of-type) {
			position: relative;
			padding-block-end: 1rem;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				border: 1px solid #000;
				border-width: 0 0 math.div(1, 16) + 0rem;
				width: fibonacci.$asymp-xxxl-percentage;
			}
		}

		&:first-of-type {
			#{$-accordion} {
				&__button {
					&::before {
						content: "";
						position: absolute;
						right: 100%;
						width: math.div(2, 16) + 0rem;
					}
				}
			}
			// border-top-left-radius: 0.25rem;
			// border-top-right-radius: 0.25rem;
			// padding-block-start: 0;

			// > .accordion-header .accordion-button {
			// 	border-top-left-radius: 0.25rem;
			// 	border-top-right-radius: 0.25rem;
			// }
		}

		// &:last-of-type {
		// 	border-bottom-right-radius: 0.25rem;
		// 	border-bottom-left-radius: 0.25rem;
		// 	padding-block-end: 0;
		// }
	}

	&__header {
		margin: 0;
		font-weight: 500;
	}

	&__button {
		$-btn: &;
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		// align-items: center;
		width: 100%;
		padding: 0;
		background: none;
		// padding: var(--accordion-btn-padding-y) var(--accordion-btn-padding-x);
		font-size: 1rem;
		// color: var(--accordion-btn-color);
		text-align: start;
		// background-color: var(--accordion-btn-bg);
		border: 0;
		border-radius: 0;
		overflow-anchor: none;
		// transition: var(--accordion-transition);

		// &::before {
		// 	flex-shrink: 0;
		// 	width: var(--accordion-btn-icon-width);
		// 	height: var(--accordion-btn-icon-width);
		// 	margin-left: auto;
		// 	content: "";
		// 	background-image: var(--accordion-btn-icon);
		// 	background-repeat: no-repeat;
		// 	background-size: var(--accordion-btn-icon-width);
		// 	transition: var(--accordion-btn-icon-transition);
		// }

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 0.5rem;
			height: 0.5rem;
			background-color: white;
			border-radius: 50%;
			box-shadow: 0 0 0 math.div(2, 16) + 0rem #fff, inset 0 0 0 0 + 0rem #000;
			border: math.div(1, 16) + 0rem solid #000;
			transform: translate(50%, -50%);

			@media (prefers-reduced-motion: no-preference) {
				transition-property: box-shadow;
				transition-duration: conf.$transition-duration;
				transition-timing-function: conf.$transition-timing-function;
			}

			@at-root :root:not([dir="rtl"]) & {
				right: calc(100% + 1rem + 0.125rem / 2);
			}

			@at-root :root[dir="rtl"] & {
				transform: translate(-50%, -50%);
				left: calc(100% + 1rem + 0.125rem / 2);
			}
		}

		&:not([aria-expanded="true"]) {
			// color: var(--accordion-active-color);
			// background-color: var(--accordion-active-bg);
			// box-shadow: inset 0 calc(-1 * var(--accordion-border-width)) 0 var(--accordion-border-color);

			&::after {
				// background-color: black;
				box-shadow: 0 0 0 math.div(2, 16) + 0rem #fff, inset 0 0 0 math.div(4, 16) + 0rem #000;
				// background-image: var(--accordion-btn-active-icon);
				// transform: var(--accordion-btn-icon-transform);
			}
		}

		&:focus {
			// z-index: 3;
			outline: 0;
			// box-shadow: var(--accordion-btn-focus-box-shadow);
		}
	}

	&__body {
		padding: 1rem 0 0;

		> * {
			&:not(script, style) {
				&:first-child {
					margin-block-start: 0;
				}

				&:last-child {
					margin-block-end: 0;
				}
			}
		}
	}

	&__collapse {
		// &:not(.show) {
		// 	display: none;
		// }

		// &.collapsing {
		// 	height: 0;
		// 	overflow: hidden;
		// }

		@media (prefers-reduced-motion: no-preference) {
			transition-property: height;
			transition-duration: conf.$transition-duration;
			// transition-delay: conf.$transition-duration;
			transition-timing-function: conf.$transition-timing-function;
		}
	}
}
