@use "sass:math";
@use "../../styles/conf";
@use "../../styles/conf/fibonacci";

.experience {
	&__button {
		display: grid;
		grid-template-columns: 1fr 0.5rem auto;
		grid-template-rows: auto 0.5rem auto 0 auto;
		grid-template-areas:
			"experience__when     .                    experience__duration"
			".                    .                    .                   "
			"experience__position experience__position experience__position"
			".                    .                    .                   "
			"experience__where    experience__where    experience__where   ";
	}

	&__when {
		font-family: monospace;
		grid-area: experience__when;
		margin: 0;
		font-size: 0.75em;
		line-height: 1.5;
	}

	&__duration {
		font-family: monospace;
		grid-area: experience__duration;
		margin: 0;
		font-size: 0.75em;
	}

	&__position {
		grid-area: experience__position;
		font-size: 1.125em;
		font-weight: 500;
	}

	&__where {
		grid-area: experience__where;
		font-weight: 300;
	}

	// &__hr {
	// 	width: fibonacci.$asymp-xxxl-percentage;
	// 	margin-block: 1rem 0;
	// 	margin-inline: 0;
	// }

	// &__link {
	// 	$-link: &;
	// 	display: inline-flex;
	// 	align-items: center;

	// 	&--responsebilities {
	// 		color: inherit;
	// 	}

	// 	&--external {
	// 		#{$-link} {
	// 			&-icon {
	// 				font-size: math.div(12, 16) + 0em;

	// 				&:not(:first-child) {
	// 					margin-inline-start: math.div(4, 12) + 0em;
	// 				}
	// 			}
	// 		}
	// 	}

	// 	&-icon {
	// 		&--responsebilities {
	// 			font-size: math.div(12, 16) + 0em;
	// 			margin-inline-start: math.div(4, 12) + 0em;
	// 		}
	// 	}
	// }

	// &__dd {
	// 	margin-inline-start: 1rem;
	// }

	// &__strong {
	// 	font-weight: 600;
	// }

	// &__ul {
	// 	&:first-child {
	// 		margin-block-start: 0;
	// 	}

	// 	&:last-child {
	// 		margin-block-end: 0;
	// 	}
	// }
}
