@use "sass:math";
@use "../../styles/conf";
@use "../../styles/conf/fibonacci";

.experience {
	&__button {
		line-height: 1.2;
		display: grid;
		grid-template-columns: 1fr 0.5rem auto;
		grid-template-rows: auto 0.5rem auto 0 auto;
		grid-template-areas:
			"experience__when     .                    experience__duration"
			".                    .                    .                   "
			"experience__position experience__position experience__position"
			".                    .                    .                   "
			"experience__where    experience__where    experience__where   ";
	}

	&__when {
		font-family: monospace;
		grid-area: experience__when;
		margin: 0;
		font-size: 0.75em;
		line-height: 1.5;
	}

	&__duration {
		font-family: monospace;
		grid-area: experience__duration;
		margin: 0;
		font-size: 0.75em;
	}

	&__position {
		grid-area: experience__position;
		font-size: 1.125em;
		font-weight: 500;
	}

	&__where {
		display: flex;
		column-gap: 0.25em;
		align-items:flex-start;
		grid-area: experience__where;
		font-weight: 300;

		&-wrapper {
			// Guide line prop to align icons START
			// position: relative;
			// Guide line prop to align icons END
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1em;
			height: 1em;
			transform: translateY(calc((1.1em - 100%) / 2));

			// Guide line to align icons START
			// &::before,
			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	height: 1px;
			// 	background-color: tomato;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	width: 100vw;
			// }

			// &::before {
			// 	bottom: 100%;
			// }

			// &::after {
			// 	top: 100%;
			// }
			// Guide line to align icons END
		}

		&-icon {
			object-fit: contain;
			max-width: 100%;
		}
	}
}
